*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 50%;
}
img:hover{
  transform: scale(1.05);
}

.card{
  height: 23rem;
  background-color:rgb(210, 232, 245) !important;
  cursor: pointer;
}
.card:hover{
  transform: scale(1.02);
}
.circle{
  width: 100px;
  height: 100px;
  font-size: 4rem;
  background-color:rgb(113, 167, 185);
  box-shadow: 0 0 5px rgb(77, 77, 240);
}
button{
  background-color: lightpink;
}
button:active{
  transform: scale(0.97);
}
.details{
  max-width: 45rem;
  box-shadow: 0px 5px 10px grey;
}
.details span{
  color:#0d6efd;
  padding-right: 0.2rem;
}
.details h4:first-child{
  width: 7rem;
}
.loading{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}







